*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #CED6F0;
}

main{
    background-color: #FFFFFF;  
    margin: 6vh 20vw;
    padding-bottom: 75vh;
    border-radius: 2%;
}   

.bluebird-image-div{
    margin-left: 58%;

}

img{
    width: 60px;
    max-width: 100%;
}

.first-section{
    justify-content: center;
    align-items: center;
}



.main-title{
    font-weight: 800;
    font-size:xx-large;
    text-align: center;
}
