*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #CED6F0;
}

main{
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 5% 35%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 2vw;
}   

.first-section{
    margin-left: 10%;
    margin-right: 10%;
}

.second-section{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.bluebird-image-div{
    position: relative;
    overflow:hidden;
}

.bluebird-image-div img{
    width: 60px;
    position: relative;
    transform: translate(160%, 30%);
}   


.main-title{
    font-weight: 800;
    font-size: 300%;
    text-align: center;
    margin-top: 0;
    word-wrap:break-word;
}


.first-section h2{
    font-weight: 600;
}

.first-section p{
    font-size: 80%;
    color: #5E6366;
    text-align:justify;
}

.justify-text-center{
    text-align: center;
}


.sections-separator{
    margin: 8% 10%;
    border-color: rgba(227, 229, 230, 0.2);
}

.second-section form{
    display: flex;
    flex-direction: column;
}

.second-section form label{
    display: inline;
}

.second-section form input{
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.3);
    margin-top: 4%;
    margin-bottom: 4%;
    display: inline;
    height: 5vh;
}

.second-section form button{
    background-color: rgb(54, 123, 245);
    border:none;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 4% 2%;
    font-size: 50%;
}

.second-section form button:hover{
    background-color: rgb(112, 159, 241);
    color: black;
}

footer p{
    margin-top: 5%;
    font-size: 60%;
}

footer p b{
    font-weight: 800;
}